body {
	font-family: Helvitica, Arial, sans-serif;
}

#container {
	color: white;
}


h1, h2, h3 {
	margin: 0;
} 

#header {
	text-align: center;
} 

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}